<ion-view view-title="New Complain">
  <ion-content ng-init="setDefault()">


        <div class="list">
          <label class="item item-input item-stacked-label">
            <span class="input-label">Title</span>
            <input type="text" placeholder="ex. Lubak sa QC" ng-model="complaints.title">
          </label>

          <label class="item item-input item-stacked-label">
            <span class="input-label" ng-model="complaints.description">Description</span>
            <textarea row="20" placeholder="ex. May malaking lubak sa gitna ng kalye" ng-model="complaints.description"></textarea>
          </label>

          <label class="item item-input item-select">
            <div class="input-label">
              Category
            </div>
            <select ng-model="complaints.category">
              <option>Pothole Problem</option>
              <option selected>Broken Street lights</option>
              <option>Trash Problem</option>
            </select>
          </label>

          <div class="padding">
            <button class="button button-block button-positive" ng-click="selectPicture()">Take Photo</button>
          </div>


          <div class="padding">
            <button class="button button-block button-positive" ng-click="save()">Save</button>
          </div>

          <div class="padding full">
            <canvas id="myimg"></canvas>
          </div>



        <!-- <ion-footer-bar class="bar-positive">
          <a ng-click="centerOnMe()" class="button button-icon icon ion-navigate">Find Me</a>
        </ion-footer-bar> -->

  </ion-content>
</ion-view>
